$MAIN_COLOR:#417690;
$SECTION_COLOR:#ccc;
$SECTION_PADDING:5px 15px;
$SIDEBAR_WIDTH:15%;
$SIDEBAR_COLOR:#333;
$SIDEBAR_HOVER_COLOR:#37424f;
$NAVBAR_HEIGHT:2.5em;
$NAVBAR_HOVER_COLOR:#008fbf;
$LINK_HOVER_COLOR:#008fbf;
$NAVBAR_COLOR:$MAIN_COLOR;
$BUTTON_HOVER_COLOR:#008fbf;
$HINT_COLOR:#3CB371;
$ERROR_COLOR:#c04848;
$BUTTON_MARGIN_TOP:15px;
$SOLO_BUTTON_COLOR:#6E6E6E;
$TABLE_HOVER_COLOR:#F2F2F2;